
body{
    background: linear-gradient(to left, rgb(71, 118, 230), rgb(142, 84, 233));
}
.search-bar-container{
    width: 50%;
}
.main-content .isLoading #loading{
    color: White;
    font-size: 30px;
    font-weight: bold; 
}

.main-content .card-container{
    max-width: 960px;
}
.main-content .card-container .card{
    height: 750px;
}
.main-content .card-container .card .card-img-top{
    background: #313131;
}
.main-content .card-container .card .sub-title{
    font-weight: 500;
}

@media only screen and (max-width: 768px) {
    .search-bar-container{
        width: 90%;
    }
    .main-content .card-container .card{
        /* margin: auto 25%; */
        max-width: 300px;
        margin: 0 auto;
    }
}
